<article id="single-post" class="post" data-post-id="{{post.id}}">
    <img src="{{post.path}}">
  <div class="flex">
    {{#if post.favorited}}
    <input class="favorite-checkbox" type="checkbox" checked />
    {{else}}
    <input class="favorite-checkbox" type="checkbox" />
    {{/if}}
    <div class="description">
      <p>{{post.user.username}}</p>
    </div>
  </div>
  <p>{{post.caption}}</p>
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
<script src="/javascript/color-palette.js"></script>
<script src="/javascript/favorite.js"></script>